body{
	width: 80%;
	background-color: pink;
	padding: 0 10%;
	}
h1{
	width: 100%;
	border-radius: 10px ;
	background-color: blue;
	text-align: center;
}
section{
	display: flex;
}
img{
	width: 100%;
}
article{
	display: flex;
	flex-direction: column;
	border: solid 2px black;
}